#archive-page .container {
  padding-top: 80px;
  padding-bottom: 80px;
}

#archive-page .container h2 {
  text-transform: uppercase;
  border-bottom: 2px solid #222;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

#archive-page .container .row h4 {
  text-transform: uppercase;
}

#archive-page .container .row ul {
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
}

#archive-page .container .row ul li a {
  color: #0058c4;
}
