body{
    background-color: #000007;
    font-family: 'Lato', sans-serif;
}
.borderCard{
    -webkit-box-shadow: 2px 2px 0.5em #777;
    box-shadow: 2px 2px 0.5em #777;
    background-color: #333;
    color:#eee;
}
.borderCard:hover {

}
.borderCard:hover img{
    opacity: 0.7;
}
.borderCard h3, .borderCard h4{
    -webkit-transition:all 1s;
    -webkit-transition:all .5s;
    transition:all .5s;
}
.borderCard:hover h3{
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
    color:rgb(253, 248, 231);
    background-color: rgba(49, 49, 49, 0.5);
}
.borderCard:hover h4{
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
    color:rgb(253, 248, 231);
    font-weight: bold;
    background-color: rgba(49, 49, 49, 0.5);
    font-size: 2em;
}
.page-link{
    border: 1px solid #00064e;
}
.page-item.disabled .page-link {
    border: 1px solid #00064e;
}
.borderCard:hover p.cardText{
/*    font-size: 1.2em;
    font-weight:bold; */
}
.lienArticle {
    border: 1px solid rgb(147, 195, 253);
    color:#fff;
    padding: .26em .74em ;
    border-radius:5px;
}
.lienArticle:hover{
    border-color: #0058C4;
    background: #0058C4;
    text-decoration:none;
    color:#fff;
}
.carousel-caption {
    background-color:black;
    z-index:11;
    position: absolute;
    right: 12.5%;
    bottom: 0px;
    left: 12.5%;
    z-index: 10;
    padding:1%;
    opacity:0.7;
    color: #fff;
    text-align: center;
  }
  body {
    font-family: 'Lato', sans-serif;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 1.5em;
    height: 1.5em;
  }
  .carousel-control-prev-icon {
    background-image:url('images/left.png');
  }
  .carousel-control-next-icon {
    background-image:url('images/right.png');
  }
  .widget-group h5, .widget-group a{
      color: #DDD;
  }
